<html>
	<head>
		<title>form creation</title>
		<link rel="stylesheet" type="text/css" href="../../assests/css/app1.css">
	</head>
	<body>
		<div class="container">
		<h3 class="heading">Student Form</h3>
		<form method="post" action="http://www.google.com/senddetails">
			<ul>
				
				<li>
					<span>Enter your name </span>:<input type="text" name="username">
			
				</li>
				<li>
					<span>Enter your age</span>:<input type="number" name="uage">
				<li>
		        <span> Enter your gender</span>: <input type="radio" name="gender" value="male">Male
									<input type="radio" name="gender" value="female">Female
				
				</li>
				<li>
					
				<span class="qualification">		Enter your qualification</span>:<select>
						<option value="select">select</option>
					     <option value="MCA">MCA</option>
					      <option value="B.E">B.E</option>
					      <option value="MSC">MSC</option>
					</select>
				
				</li>
				<li>
				
				<span>		Enter text</span>:<textarea name="message">
				
			                                   </textarea>
				
				</li>
				<li>
				
				<span>
				Select languages you known</span>:<input type="checkbox" name="lang" value="Telugu">Telugu
                                                 <input type="checkbox" name="lang" value="English">English
												 <input type="checkbox" name="lang" value="Hindi">Hindi
												 
				
				</li>
				<li class="button">
				
					<input type="submit" value="submit" style="background-color:#FF00FF;border-radius:5px;font-size:15px;">
				</li>
				
			
					
		</form>
		</div>
		
	</body>
</html>	